@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication4MVC.Models.ProfileModel
@{
}

<form asp-action="Submit" asp-controller="Profile" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
     <label asp-for="Id"></label>
    <input asp-for="Id" />
        <span asp-validation-for="Id"></span>

    </div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

    </div>
    
    <div>
    <label asp-for="Age"></label>
    <input asp-for="Age" />
        <span asp-validation-for="Age"></span>

    </div>
<input type="submit" value="Submit Form" />

</form>