@model WebApplication4MVC.Models.ProfileModel


<h1>Viewing @Model.Name Profile</h1>

<div>
    <strong>ID: </strong>
    @Model.Id
</div>

<div>
    <strong>Name: </strong>
    @Model.Name
</div>

<div>
    <strong>Age: </strong>
    @Model.Age
</div>